// imports

@import './import/font.scss';
@import './variables/variables.scss';


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 100%;
}

body {

    font-family: $mainFont;
    
}

html {
    scroll-behavior: smooth;
}

/**
* Desktop style
*/

.container{

    margin: auto;
    width: 90rem;
    height: 200rem;
    position: relative;
    

    .homePart {
        height: 100vh;
        width: 90rem;
        background-color: $lightYellow;
        

        .greetings{

            position: absolute;
            top: 8rem;
            left: 5rem;

            .greetings__firstPart{
                font-size: 8rem;
                font-weight: 700;
                color: $lightBlue;
            }

            .greetings__secondPart {
                font-size: 8rem;
                font-weight: 700;
                color: $lightBlue;
            }

            .greetings__thirdPart {
                font-size: 8rem;
                font-weight: 700;
                color: $lightBlue;
            }
        }
    }
    .projectsPart {
        height: 100vh;
        width: 90rem;
        background-color: $lightBlue;
    }
    .aboutPart {
        height: 100vh;
        width: 90rem;
        background-color: $lightYellow;
    }
    .contactPart {
        height: 100vh;
        width: 90rem;
        background-color: $lightBlue;
    }
}